<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
        <style></style>
    </head>
    <body>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr>
                <td align="center" valign="top">
                    <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
                        <tr>
                            <td align="center" valign="top" style="background-color:#139067;font-size:22px; color:#fff;font-weight:bold;padding:10px;">
                                <p>Bonjour M. <%= @user.name %></p>
                            </td>
                        </tr>
                        <tr>
                        	<td align="center" valign="middle">
                            	<p>Merci de votre inscription sur la plateforme <strong><u>Photo-Limited</u></strong>.</p>
                            </td>
                        </tr>
                        <tr>
                        	<td align="center" valign="bottom">
                            	<p>Pour retourner sur le site, cliquez sur le <%= link_to "lien", 'http://127.0.0.1:3000' %>.</p>
                            	<p>Pour visualiser vos informations, cliquez sur le <%= link_to "lien", @user %>.</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>